.title{
    // margin: 40px 0px 0px 30px;
    // font-size: 22.5274px;
}
.text{
   width: 550px;
//    height: 53px;
   text-overflow: clip;
//    margin: 40px 0px 140px 30px;
   text-align: justify;
}