.banner-button {
    position:relative;
    top:50%;
    width: 250px;
    height: 40px;
    text-align: center;
    z-index: 2;
 
    &.need-help {
       padding: 10px;
       color: #FFFFFF;
       background: #FF4A4A;
       border: 2px solid #FFFFFF;
       border-radius: 20px;
    }
 }